/* General CSS */
.hidden 
{
    display: none;
}
h3
{
    margin: 0;
}
body
{
    margin: 0;
}

/* Game Page */
.DivEvenHalfSplit
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.HorizontalStatsDiv
{
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
/* class * affects children */
.HorizontalStatsDiv * 
{
    margin-right: 1em;
}
/*
.TeamStatDiv
{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: left;
}
*/
.TeamScoreDiv
{
    display: flex;
    flex-direction: row;
}
.PlayerCardDiv
{
    border: 10px solid black;
    border-radius: 10px;
}

