.hidden 
{
    display: none;
}

/* Game Page */
.divEvenHalfSplit
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.HorizontalStatsDiv
{
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: left;
}
/* class * affects children */
.HorizontalStatsDiv * 
{
    margin-right: 1em;
}
/*
.TeamStatDiv
{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: left;
}
*/
.TeamScoreDiv
{
    display: flex;
    flex-direction: row;
}
h3
{
    margin: 0;
}